// Body
$backgroundColor: #f8f8fa;

// Typography
$poppins: 'Poppins', sans-serif;

// Colors
$primaryColor: #fe9501;
$secondaryColor: #999999;
$tertiaryColor: #2d5500;
$titleColor: #0000;
$footerColor: #252e3c;

// Btn Colors
$primaryBtnColor: #2ca5d2;
$successBtnColor: #5aa029;
$dangerBtnColor: #bf2833;

// Badge Colors
$successBadgeColor: #e9fbe7;
$dangerBadgeColor: #fbe6e5;