// Body
$backgroundColor: #f8f8fa;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;;

// Colors
$primaryColor: #fe9501;
$secondaryColor: #999999;
$tertiaryColor: #2d5500;
$titleColor: #0000;
$footerColor: #252e3c;