

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F9;
}
#restaurant{
    .container-fluid{
        img{
            border-radius: 20px;
            width: 100%;
        }
        .floating-btn{
            bottom: 10px;
            right: 10px;

        }
    }
    .small-badge{
        font-size: 0.9rem;
    }
    
    //! stile delle carte nel backoffice
    .my-card{
        background-color: white;
        border-radius: 15px;
    }
}

.containerdaeliminare{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* non visibile le freccette ai lati nell'input type number  */
/* chrome safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
  