// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Poppins', sans-serif;
}
#restaurant{
    .container-fluid{
        img{
            border-radius: 20px;
            width: 100%;
        }
        .floating-btn{
            bottom: 10px;
            right: 10px;

        }
    }
}